:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Scheme variables values for dark mode */
  --scheme-bg: rgb(48, 47, 47);
  --scheme-border: rgba(128, 128, 128, 0.5);
  --scheme-text: rgba(255, 255, 255, 0.87);
  --scheme-text-disabled: rgba(255, 255, 255, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    /* Scheme variable values for light mode */
    --scheme-bg: #ffffff;
    --scheme-border: rgba(128, 128, 128, 0.35);
    --scheme-text: #213547;
    --scheme-text-disabled: rgba(0, 0, 0, 0.35);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.selectWrapper {
  position: relative;
  display: inline-block;
}
.selectWrapper::after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid currentColor;
  opacity: 0.6;
  pointer-events: none;
}
select {
  width: 100%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* grid-row: span 1; */
  /* grid-column: span 1; */
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 2px solid var(--scheme-border);
  background: var(--scheme-bg);
  color: var(--scheme-text);
  border-radius: 0.75rem;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & .header {
    padding-bottom: 0.75rem;
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .title {
      font-size: clamp(1rem, 1.5vw, 2rem);
      font-weight: 700;
      margin: 0;
    }

    & .closeIconBtn {
      background: none;
      border: none;
      opacity: 0.6;
      cursor: pointer;
      padding: 0;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.2s;
      outline: none;
      box-shadow: none;

      &:focus,
      &:focus-visible {
        outline: none;
      }

      &:hover {
        color: #ef4444;
        opacity: 1;
      }
    }
  }

  & .errorMessage {
    color: #ef4444;
    font-weight: 600;
  }

  & .content {
    flex: 1;
    padding: 1.2rem;
    overflow-y: auto;

    & .form {
      display: grid;
      grid-template-rows: auto 120px repeat(4, auto);
      grid-template-columns: 1fr 3fr;
      gap: 0.8rem;

      & .controlLabel {
        grid-row: span 1;
        grid-column: span 1;
        font-weight: 600;
        padding-right: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: flex-end;

        & .errorIcon {
          color: #ef4444;
          font-size: 1rem;
        }
      }

      & .control {
        grid-row: span 1;
        grid-column: span 1;
        padding: 0.5rem 0.7rem;
        border: 1px solid rgba(128, 128, 128, 0.3);
        border-radius: 0.5rem;
        font-size: 1rem;

        &:focus,
        &:focus-visible {
          outline: none;
          border: 2px solid #3b82f6;
        }

        &:focus:is(.error),
        &:focus-visible:is(.error) {
          outline: none;
          border: 2px solid #ef4444;
        }
      }

      & .error {
        border-color: #ef4444;
      }
    }
  }

  & .footer {
    padding-top: 0.75rem;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    & .actionBtn {
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 0.5rem;
      font-weight: 600;
      cursor: pointer;
      font-size: 0.875rem;
      transition: background 0.2s;
    }

    & .cancelBtn {
      background: rgba(128, 128, 128, 0.1);

      &:hover {
        background: rgba(128, 128, 128, 0.2);
      }
    }

    & .saveBtn {
      background: #3b82f6;
      color: white;

      &:hover {
        background: #2563eb;
      }

      &:disabled {
        background: #213547;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }
}
